.vscode
DebugConfig
out
RTE
standard_tpye_c
standard_debug
tmp
.clangd
EventRecorderStub.scvd
JLinkLog.txt
JLinkSettings.ini
standard_gimbal.cbuild-idx.yml
standard_gimbal.cproject.yaml
standard_gimbal.csolution.yaml
standard_gimbal.uvguix.discipline
standard_gimbal.uvoptx
standard_gimbal_standardgimbal.sct
standard_gimbal+standardgimbal.cbuild.yml
standard_gimbal+standardgimbal.cprj
startup_stm32f407xx.lst
vcpkg-configuration.json